@font-face {
    font-face-name: Montserrat;
    src: url('/static/fonts/Montserrat-Regular.ttf');
}

.box {
    width: 100%;
    height: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    -webkit-box-shadow: 0px 0px 18px 5px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 18px 5px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 18px 5px rgba(34, 60, 80, 0.2) inset;
}

button {
    cursor: pointer;
}

.paragraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .2px;
}

.smallText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .2px;
}

.header2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: .2px;
}

.header3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .1px;
}

.header5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .1px;
}

.header6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: .2px;
}

.button {
    background-color: #23A6F0;
    color: #fff;

    padding: 15px 25px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #252B42;
}

section {
    width: 100%;
}

/* 1 SECTION */

#firstWrapper {
    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%),
    url('/static/images/section_1.png');
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header a {
    color: #fff;
}

.header__logo {
    padding: 13px 42px 13px 0;
}

.header__logo_link {
    text-decoration: none;
}

.header__navMenu {
    display: flex;
    gap: 240px;
    align-items: center;
}

.header__navMenu_pagesWrapper {
    display: flex;
    gap: 21px;
    align-items: center;
}

.header__navMenu_auth {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    width: 481px;
    padding: 112px 0;

    display: flex;
    flex-direction: column;
}

.banner__header5 {
    margin-bottom: 35px;
}

.header5_blue {
    color: #23A6F0;
}

.banner__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .2px;

    max-width: 352px;
    margin-bottom: 35px;
}

.banner__text_white {
    color: #fff;
}

.banner__text_big {
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;

    max-width: 542px;
}

.banner__button {
    width: 133px;
}

/* 2 SECTION */

.advice {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 160px 0;
    gap: 80px;
}

.advice__text {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.paragraphWrapper {
    width: 469px;
    text-align: center;
}

.advice__text_blue {
    color: #23A6F0;
}

.advice__text_white {
    color: #fff;
}

.advice__cardsBlock {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.adviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 328px;
    height: 292px;
    background-color: #fff;
    padding: 35px 40px;
}

.roundedSquare {
    width: 70px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.red {
    background-color: #E74040;
}

.header5_black {
    color: #000;
}

.strip {
    width: 50px;
    height: 2px;
    background-color: #000;
}

.strip_red {
    background-color: #E74040;
}

.adviceCard__textWrapper {
    width: 136px;
    height: 60px;
    text-align: center;
}

.adviceCard p {
    color: #737373;
}



.footer {
    width: 100%;
    height: 76px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.footer_textWrapper {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 3 SECTION */

.course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 160px 0;
    align-items: center;
}

.courseText {

}

.courseText__strip {
    width: 94px;
    height: 7px;
    margin-bottom: 35px;
}

.courseText_title {
    margin-bottom: 35px;
}

.courseText_paragraph {
    max-width: 351px;
    margin-bottom: 35px;
}

.courseLink {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 35px;
}

.courseLink__blue {
    color: #23A6F0;
}

.courseImages {
    width: 508px;
    position: relative;
}

.courseImages__mainImage {
    position: relative;
    z-index: 10;
}

.courseImages__manBg {
    width: 408.093px;
    height: 408.093px;
    flex-shrink: 0;

    border-radius: 0px 83.115px;
    background: #00087E;
    position: absolute;
    top: 22px;
    left: 31px;
    z-index: 1;
}

.courseImages__secondImage {
    position: absolute;
    top: 80px;
    left: 392px;
    z-index: 20;
}

.courseImages__chart {
    position: absolute;
    top: 323px;
    left: 76px;
    z-index: 20;
}

/* 4 SECTION */

.sliderBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 160px 0;
}

.sliderBlock__textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sliderBlock__textBlock_blue {
    color: #23A6F0;
}

.slider {
    max-width: 700px;
    overflow: hidden;
    display: flex;
    gap: 15px;
}

.sliderCard {
    width: 330px;
    height: 678px;
}

.sliderCard__photo {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sliderCard__photo_first {
    background: url('static/images/slider_1photo.png');
}

.sliderCard__photo_second {
    background: url('static/images/slider_2photo.png');
}

.sliderCard__photo_third {
    background: url('static/images/slider_3photo.png');
}

.sliderCard__buttons {
    bottom: 24px;
    max-width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
}

.sliderCard_photoButton {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saleIcon {
    background-color: #E74040;
    width: 51px;
    height: 24px;
    border-radius: 3px;
    text-align: center;
}

.saleIcon_positioned {
    position: absolute;
    top: 20px;
    left: 20px;
}

.sliderCard__text {
    height: 378px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 25px 25px 35px;
}

.sliderCard__text_blue {
    color: #23A6F0;
}

.sliderCard__text_black {
    color: #000;
}

.sliderCard__text_gray {
    color: #737373;
}

.salesCount {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price_lightGray {
    color: #BDBDBD;
}

.price_green {
    color: #40BB15;
}

.info {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.info__block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info__block_gray {
    color: #737373;
}

.sliderCard__button {
    width: 142px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid #23A6F0;
    background-color: #fff;
}
