@font-face {
    font-face-name: Montserrat;
    src: url('/static/fonts/Montserrat-Regular.ttf');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Montserrat, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    -webkit-box-shadow: 0px 0px 18px 5px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 0px 0px 18px 5px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 0px 0px 18px 5px rgba(34, 60, 80, 0.2) inset;
}

button {
    cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    letter-spacing: .2px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .1px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .1px;
}

h6 {
    font-size: 14px;
    line-height: 24px;
}

/* general styles */

.smallText {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .2px;
}

.button {
    background-color: #23A6F0;
    color: #fff;

    padding: 15px 25px;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.container {
    width: 1050px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #252B42;
}

section {
    width: 100%;
    min-height: 70vh;
}

/* blocks */

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.textBlock__paragraph {
    max-width: 469px;
    text-align: center;
}

.textBlock_blue {
    color: #23A6F0;
}

.textBlock_white {
    color: #fff;
}

/*.textBlock > h6.blue {*/
/*    color: #23A6F0;*/
/*}*/


.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logoWrapper {
    padding: 13px 42px 13px 0;
}

.header__logo {
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: .1px;
}


.navMenu {
    display: flex;
    gap: 240px;
    align-items: center;
}

.navMenu__pagesWrapper {
    display: flex;
    gap: 21px;
    align-items: center;
}

.navMenu__auth {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.banner {
    width: 481px;
    padding: 112px 0;

    display: flex;
    flex-direction: column;
}

.banner__header5 {
    margin-bottom: 35px;
}

.banner__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: .2px;

    max-width: 352px;
    margin-bottom: 35px;
}

.banner_big {
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;

    max-width: 542px;
}

.banner__button {
    width: 133px;
}

.banner_blue {
    color: #23A6F0;
}

.banner_white {
    color: #fff;
}


.advice {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 160px 0;
    gap: 80px;
}

.advice__cardsBlock {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.advice_red {
    background-color: #E74040;
}

.advice_black {
    color: #000;
}

.advice_gray {
    color: #737373;
}


.adviceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    width: 328px;
    height: 292px;
    background-color: #fff;
    padding: 35px 40px;
}

.adviceCard__roundedSquare {
    width: 70px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.adviceCard__textWrapper {
    width: 136px;
    height: 60px;
    text-align: center;
}


.strip {
    width: 50px;
    height: 2px;
    background-color: #000;
}

.strip_big {
    width: 94px;
    height: 7px;
}

.strip_red {
    background-color: #E74040;
}


.course {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 160px 0;
    align-items: center;
}

.course__courseLink {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 35px;
}

.course__images {
    width: 508px;
    position: relative;
}

.course__mainImage {
    position: relative;
    z-index: 10;
}

.course__manBg {
    width: 408.093px;
    height: 408.093px;
    flex-shrink: 0;

    border-radius: 0px 83.115px;
    background: #00087E;
    position: absolute;
    top: 22px;
    left: 31px;
    z-index: 1;
}

.course__secondImage {
    position: absolute;
    top: 80px;
    left: 392px;
    z-index: 20;
}

.course__chart {
    position: absolute;
    top: 323px;
    left: 76px;
    z-index: 20;
}

.course__blue {
    color: #23A6F0;
}


.slider {
    overflow: hidden;
    display: flex;
    gap: 15px;
}


.sliderCard {
    width: 330px;
    height: 678px;
}

.sliderCard__photo {
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.sliderCard__firstPhoto {
    background: url('static/images/slider_1photo.png');
}

.sliderCard__secondPhoto {
    background: url('static/images/slider_2photo.png');
}

.sliderCard__thirdPhoto {
    background: url('static/images/slider_3photo.png');
}

.sliderCard__buttons {
    bottom: 24px;
    max-width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;
}

.sliderCard__photoButton {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderCard__button {
    width: 142px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid #23A6F0;
    background-color: #fff;
}

.sliderCard__text {
    height: 378px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 25px 25px 35px;
}

.sliderCard_blue {
    color: #23A6F0;
}

.sliderCard_black {
    color: #000;
}

.sliderCard_gray {
    color: #737373;
}


.saleIcon {
    background-color: #E74040;
    width: 51px;
    height: 24px;
    border-radius: 3px;
    text-align: center;
}

.saleIcon_positioned {
    position: absolute;
    top: 20px;
    left: 20px;
}


.prices {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price_lightGray {
    color: #BDBDBD;
}

.price_green {
    color: #40BB15;
}


.info {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.info__block {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info_gray {
    color: #737373;
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
    max-width: 150px;
}

.description__text {
    text-align: center;
    color: #737373;
}

.description__stars {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}


.nameBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.nameBlock_black {
    color: #000;
}

.nameBlock_gray {
    color: #737373;
}


.subscribeForm {
    width: 100%;
    display: flex;
}

.subscribeForm__input {
    width: 100%;
    height: 58px;
    background: #fff;
    outline: none;
    border: 1px solid #E6E6E6;
    border-radius: 5px 0 0 5px;
    padding: 15px 20px;

    color: #737373;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.subscribeForm__submitButton {
    display: flex;
    width: 117px;
    height: 58px;
    padding: 15px 22.5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;

    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
    border-left: none;
    background: #23A6F0;
}

/* 1 SECTION */

.section1 {
    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%),
    url('/static/images/section_1.png');
    background-size: cover;
    min-height: 889px;
}

/* 3 SECTION */

.section3 .textBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.section3 .textBlock .textBlock_short {
    max-width: 351px;
}

/* 4 SECTION */

.sliderBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 160px 0;
}

.sliderBlock .slider {
    max-width: 700px;
}

.salesCount {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* SECTION 5 */

.section5 {
    padding: 160px 0;
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.section5 .slider .slider__item {
    transform: translateX(-499px);
}

.section5 .sliderCard {
    display: flex;
    width: 501px;
    max-height: 440px;
    padding: 25px 25px 0;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.section5 .sliderCard__photo {
    width: 128px;
    height: 128px;
}

.section5 .sliderCard__photo_rounded {
    border-radius: 50%;
}

/* SECTION 6 */

.subscriptionBlock {
    display: flex;
    flex-direction: column;
    max-width: 691px;
    margin: 0 auto;
}

/* MENU */

.menu {
    width: 100%;
    height: 300px;
    border: 1px solid red;
}

/* footer */

.footer {
    width: 100%;
    height: 76px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.footer__textWrapper {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__textWrapper_gray {
    color: #737373;
}
